/* body {
  background-color: #333;
} */
#results-display,
#main-game,
#previousQuestion,
#nextQuestion,
#finish {
  display: none;
}

.jumbotron {
  margin-top: 1rem;
  border-radius: 3.3rem;
}

.bottom-butts {
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
}

.btn-primary {
  font-size: large;
}

.timer {
  color: #f17e47;
  font-weight: bold;
  font-size: 1.6em;
  padding: 6px;
  margin: 0px auto 10px;
  border: 1px solid #69d1ec;
  border-radius: 5px;
  width: 80px;
}

.answer {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: fit-content !important;
  text-align: center !important;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #000;
  margin: 0.5rem !important;
  padding: 0.5rem !important;

}


.top-buffer {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
  }
}

body {
  text-align: center !important;
}

h1 {
  margin-left: 14px;
}

.center-text {
  text-align: center !important;
}

.card {
  text-align: center !important;
}

.countdown-tooltip {
  position: sticky;
  float: right;
  /* flex: auto; */
  z-index: 0;
  max-width: 100%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: #dc3545;
  border-radius: .2rem;
}

.subButt {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  width: fit-content !important;
  text-align: center !important;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #000;
  margin: 10px;
}

.answer {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
}

.answer:focus {
  outline: 2px solid #f1824d;
  outline-offset: 1px;
  outline-style: groove;
}

[class^="hvr-"] {
  margin: .4em;
  /* padding: 1em; */
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.answer:hover:before,
.answer:focus:before,
.answer:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

.btn-outline-info {
  /* margin-bottom: -40px;
  margin-right: -20px; */
}

code {
  text-align: left !important;
  display: inline-grid !important;
  padding: 10px !important;
}

.shorter {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
}

.answer:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100% !important;
  }
}

#question-container {
  border: 1px solid #000 !important;
  display: inline-block !important;
  margin: 1.5rem !important;
  padding: 1.5rem !important;
  border-radius: 1.5rem !important;
  -webkit-border-radius: 1.5rem !important;
  -moz-border-radius: 1.5rem !important;
  -ms-border-radius: 1.5rem !important;
  -o-border-radius: 1.5rem !important;
}

.question-border {
  border: 1px solid #000 !important;
  display: inline-block !important;
  margin: 1.5rem !important;
  padding: 1.5rem !important;
  border-radius: 1.5rem !important;
  -webkit-border-radius: 1.5rem !important;
  -moz-border-radius: 1.5rem !important;
  -ms-border-radius: 1.5rem !important;
  -o-border-radius: 1.5rem !important;
}